@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #1a202c;
  --text-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif; /* Using Inter font here */
  background-color: var(--bg-color);
  color: var(--text-color);
}